<h2 i18n>Statistiques</h2>

<h3 i18n>Nombre de pays par continent</h3>
<ngx-charts-bar-vertical
  [results]="countriesPerContinent"
  [view]="view"
  [xAxis]="true"
  [showXAxisLabel]="true"
  i18n-xAxisLabel
  xAxisLabel="Continent"
  [yAxis]="true"
  [showYAxisLabel]="true"
  i18n-yAxisLabel
  yAxisLabel="Nombre de pays"
  [legend]="true"
  i18n-legendTitle
  legendTitle="Pays par continent"
>
</ngx-charts-bar-vertical>

<h3 i18n>Nombre de pays par nombre de langues</h3>
<ngx-charts-bar-vertical
  [results]="countriesPerLanguages"
  [view]="view"
  [xAxis]="true"
  [showXAxisLabel]="true"
  i18n-xAxisLabel
  xAxisLabel="Nombre de langues"
  [yAxis]="true"
  [showYAxisLabel]="true"
  i18n-yAxisLabel
  yAxisLabel="Nombre de pays"
  [legend]="true"
  i18n-legendTitle
  legendTitle="Pays par nombre de langues"
>
</ngx-charts-bar-vertical>
