<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> {{ country.name }} | {{ country.code }} </mat-panel-title>
    <mat-panel-description>
      {{ country.formattedArea }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngIf="country.isNato; else notNato">Ce pays fait partie de l'OTAN.</p>
  <ng-template #notNato>Ce pays ne fait pas partie de l'OTAN.</ng-template>
  <p>Continent: {{ country.continent }}</p>
  <p>Langues:</p>
  <ul>
    <li *ngFor="let langage of country.languages">{{ langage }}</li>
  </ul>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Capitale </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Nom: {{ country.capital.name }}</p>
      <p>Coordonnées: {{ country.capital.coords | coords }}</p>
      <mat-action-row>
        <a mat-icon-button href="{{ country.capital.link }}" target="_blank">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Historique des dirigeants </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="country.leaders.length > 0; else noLeaders">
        <ul>
          <li *ngFor="let leader of country.leaders">
            {{ leader.name }}
          </li>
        </ul>
      </div>
      <ng-template #noLeaders>
        Il n'y a aucun dirigeant dans la base de données.
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-action-row>
    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <a mat-icon-button [routerLink]="['/update', country.id]">
      <mat-icon>edit</mat-icon>
    </a>
  </mat-action-row>
</mat-expansion-panel>
