<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <div class="flex center">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h3>Literate Tribble</h3>
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list (click)="sidenav.toggle()">
      <a mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        Accueil
      </a>
    </mat-nav-list>
    <app-authorized-display>
      <mat-nav-list (click)="sidenav.toggle()">
        <a mat-button routerLink="/add">
          <mat-icon>description</mat-icon>
          Ajout de pays
        </a>
      </mat-nav-list>
    </app-authorized-display>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fixed" color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h3>Literate Tribble</h3>
        <span class="navbar-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <app-authorized-display [hideWhenAuthenticated]="true">
            <a mat-button routerLink="sign-in">Connexion</a>
            <a mat-button routerLink="sign-up">Inscription</a>
          </app-authorized-display>
          <app-authorized-display>
            <button mat-button (click)="disconnect()">Déconnexion</button>
          </app-authorized-display>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
