<h1>Liste des pays</h1>
<mat-form-field appearance="outline">
  <input
    matInput
    type="search"
    [(ngModel)]="searchTerm"
    (ngModelChange)="getFilteredList()"
    placeholder="Rechercher"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<br />
<app-continent-selector [(continent)]="continent" (onChange)="getCountries()"></app-continent-selector>

<mat-accordion>
  <app-country-info
    *ngFor="
      let country of filteredList
        | slice : pageSize * pageIndex : pageSize * (pageIndex + 1)
    "
    [country]="country"
    (onDelete)="delete($event)"
  >
  </app-country-info>
</mat-accordion>
<mat-paginator
  [length]="filteredList.length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePageEvent($event)"
  showFirstLastButtons="true"
>
</mat-paginator>
